# Dependencies
/frontend/node_modules/

# Production build output
/frontend/dist/
/frontend/build/

# Python dependencies & caches
__pycache__/
/api/__pycache__/
/api/*.py[cod]
/api/.venv/
/api/.env
/api/run.py

# Docker, logs, etc.
/docker-compose.override.yml
*.log

# IDE
.vscode/

# Vercel
.vercel/